/* // colors */
/* $red: #C62931; // hsl(357, 66%, 47%) */
/* $blue: #49AED0; // hsl(195, 59%, 55%) */
/* $link-blue: #3373cc; // hsl(215, 60%, 50%); */
/* $green: #00A362; // hsl(156, 100%, 32%) */
/* $orange: #EC9532; // hsl(32, 83%, 56%) */
/* $yellow: #F5D847; // hsl(50, 90%, 62%) */

/* // shades */
/* $black: #111822; // hsl(215,32%,10%) */
/* $carbon: #222C3A; // hsl(215,26%,18%) */
/* $charcoal: #354050; // hsl(215,20%,26%) */
/* $pebble: #79879A; // hsl(215,14%,54%)  pebble */
/* $gray: #A2ABB9; // hsl(215,14%,68%)  pale-sky / gull-gray */
/* $cloud: #D0D5DC; // hsl(215,14%,84%)  mischka / black-85 */
/* $fog: #F0F2F5; // hsl(215,20%,95%)  smoke */
/* $snow: #F9FAFB; // hsl(215,26%,98%)  silver */
/* $white: #FFFFFF; // hsl(215,32%,100%) */

/* // social colors */
/* $facebook: #3b5998; */
/* $twitter: #00b6f1; */

.list-group {
    border-color: #D0D5DC !important;

    .list-group-item {
        border-color: #D0D5DC !important;
        height: auto;
        width: auto;
    }
}

/* // *, input, body, a, h1,h2,h3,h4,h5,h6, p {
//   font-family: "Avenir", arial, sans-serif;
// } */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500 !important;
}

a.account-card {
    text-decoration: none;
    color: unset;

    i.fa {
        font-size: 42px;
        width: 45px;
    }

    .card {
        background: #F9FAFB;
        border: 1px solid #D0D5DC;

        &:hover {
            background: #FFFFFF;
        }

        &:active {
            background: #F0F2F5;
        }
    }
}

.bg-yellow {
    background: #F5D847;
    color: #222C3A;
}

.list-group-item-action {
    background: #F9FAFB;

    .fa {
        width: 22px;
    }

    .fa.fa-angle-right {
        font-size: 20px;
        position: absolute;
        right: 5px;
        top: 14px;
    }
}

.coupon {
    background: #F9FAFB;
    border: 2px dashed #D0D5DC !important;
}

.reward-status-box {
    position: relative;
    width: 100%;
    color: #FFFFFF;
    background: darken(saturate(#49AED0, 15%), 15%);
    border: 2px solid saturate(#49AED0, 15%);
    border-radius: 5px;

    .reward-status {
        width: 60%;
        background: saturate(#49AED0, 15%);
        padding: 15px;
    }

    .current-status {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #FFFFFF;
    }

    .current-status-2 {
        position: absolute;
        right: 15px;
        top: 41px;
        color: #FFFFFF;
    }
}



/* // Utilities */

.text-orange {
    color: #EC9532 !important;
}

.text-carbon {
    color: #222C3A !important;
}

.text-pebble {
    color: #79879A !important;
}

.text-gray {
    color: #A2ABB9 !important;
}

.text-cloud {
    color: #D0D5DC !important;
}

.text-blue {
    color: #49AED0 !important;
}

.text-gray {
    color: #A2ABB9 !important;
}

.text-pale-sky {
    color: #A2ABB9 !important;
}

.bg-black {
    background: #111822 !important;
}

.bg-snow {
    background: #F9FAFB !important;
}

.bg-fog {
    background: #F0F2F5 !important;
}

.bb1-cloud {
    border-bottom: 1px solid #D0D5DC;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.tanga-header {
    .navbar-brand {
        margin-bottom: 5px;
    }

    .nav-link {
        color: #A2ABB9;

        &:hover {
            color: #FFFFFF;
        }

        &:active {
            color: #A2ABB9;
        }
    }
}

.tanga-navbar {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &:-webkit-scrollbar {
        display: none;
    }

    .nav-link {
        white-space: nowrap;
        color: #79879A;

        &:hover {
            color: #354050;
        }

        &:active {
            color: #79879A;
        }
    }
}

.btn-primary {
    background: #C62931;
    border-color: #C62931;
    cursor: pointer;

    &:hover {
        background: lighten(#C62931, 10%);
        border-color: lighten(#C62931, 10%);
    }
}

.btn-secondary {
    background: #FFFFFF !important;
    color: #354050 !important;
    border-color: #D0D5DC !important;
    cursor: pointer;

    &:hover {
        color: #354050 !important;
        background: #F9FAFB !important;
    }

    &:active {
        color: #79879A !important;
        background: #F0F2F5 !important;
    }

    &:focus {
        color: #79879A !important;
        background: #F0F2F5 !important;
        outline: 0 !important;
    }
}

.mobile-nav {
    position: fixed;
    bottom: 0;
    z-index: 50;
    display: block;
    width: 100%;
    background: #111822;

    a {
        text-decoration: none !important;
        cursor: pointer;
        color: #A2ABB9;
        font-size: 12px;
        float: left;
        width: 20%;
        display: inline-block;
        text-align: center;
        margin: 0 !important;
        padding: 8px 0px 5px 0px;

        &.active {
            background: #222C3A;
            color: #FFFFFF;
        }

        i {
            font-size: 23px;
            display: block;
            margin: 0 auto;
            margin-bottom: 2px;
        }
    }
}

.fs-18 {
    font-size: 18px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.bg-snow {
    background: #F9FAFB !important;
}

.card {
    border-color: #D0D5DC !important;
}

.text-pebble {
    color: #79879A !important;
}

.text-charcoal {
    color: #354050 !important;
    font-size: 18px;
}

.no-gutters:hover{
    cursor: pointer;
}

.bottom-drawer {
    position: fixed;
    bottom: 56px;
    width: 100%;
    border-top: 1px solid #D0D5DC;
}

.bg-white {
    background: #FFFFFF !important;
}

.list-group {
    border-color: #D0D5DC !important;
}

.list-group-item {
    border-color: #D0D5DC !important;
}

.text-red {
    color: #C62931 !important;
}

.text-green {
    color: #00A362 !important;
}

.text-link-blue {
    color: #3373cc !important;
}

.form-control {
    background: #F9FAFB;
    border-color: #D0D5DC !important;
}

.bd-2-cloud {
    border: 2px dashed #D0D5DC;
}

.b-1-green {
    border: 2px solid #00A362 !important;
}

.br-8 {
    border-radius: 5px;
}

.address-radio {
    .address-label {
        padding: 1rem;
        margin-bottom: 0 !important;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        opacity: 0;

        &+label {
            position: relative;
            padding-left: 50px;
            width: 100%;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #354050;

            &:before {
                content: '';
                position: absolute;
                left: 1rem;
                top: 1rem;
                width: 20px;
                height: 20px;
                border: 2px solid #D0D5DC;
                border-radius: 50%;
                background: #fff;
            }

            &:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #00A362;
                position: absolute;
                top: 20px;
                left: 20px;
                border-radius: 50%;
                transition: all 0.2s ease;
            }
        }
    }

    [type="radio"]:not(:checked)+label:after {
        opacity: 0;
        transform: scale(0);
    }

    [type="radio"]:checked+label:after {
        opacity: 1;
        transform: scale(1);
    }

    [type="radio"]:not(:checked)~label p {
        display: none;
    }

    [type="radio"]:checked~label p {
        display: unset;
    }
}